.secret

scripts/sourcing/*
!scripts/sourcing/.gitkeep
scripts/preprocessing/*
!scripts/preprocessing/.gitkeep
scripts/classification/*
!scripts/classification/.gitkeep

depr/*

.R*
*.pyc
__pycache__/*

out*
tmp*
tee*
testdat/*
scripts/vectorization/sklTest scripts/vectorization/test
resources/mypipe.pkl
data/colombia_montanus_sentences.csv data/colombia_sentences.csv data/colombia_sentences_f.csv data/co_sent_f.csv data/out.csv data/red.csv data/tmp.csv
