[submodule "Montanus"]
	path = modules/Montanus
	url = https://github.com/Peder2911/Montanus
[submodule "sent2vec"]
	path = modules/sent2vec
	url = https://github.com/epfml/sent2vec
[submodule "Able_Glooming_Pasture"]
	path = modules/Able_Glooming_Pasture
	url = https://github.com/Peder2911/Able_Glooming_Pasture
[submodule "Able_Glooming_Pasture"]
	path = modules/Able_Glooming_Pasture
	url = https://github.com/Peder2911/Able_Glooming_Pasture
[submodule "CountryInfo"]
	path = modules/Able_Glooming_Pasture/resources/CountryInfo
	url = https://github.com/Peder2911/CountryInfo
[submodule "modules/Able_Glooming_Pasture"]
	path = modules/Able_Glooming_Pasture
	url = https://github.com/Peder2911/Able_Glooming_Pasture
[submodule "modules/Unlit_ferment_typified"]
	path = modules/Unlit_ferment_typified
	url = https://github.com/Peder2911/Unlit_Ferment_Typified
