.secret

scripts/sourcing/*
!scripts/sourcing/.gitkeep
scripts/preprocessing/*
!scripts/preprocessing/.gitkeep
scripts/classification/*
!scripts/classification/.gitkeep

.R*
*.pyc
__pycache__/*

out.csv
