__pycache__

resources/depr/*
resources/temp/*
!resources/temp/.gitkeep

out.csv
cl.csv
go
o
o_*

test*
modules/depr/*
modules/xpdf*
!modules/xpdf/.gitkeep
modules/dbTools

logs/*
!logs/.gitkeep

buildDB.py

resources/models/*
!resources/models/.gitkeep
resources/data/*
!resources/data/.gitkeep

resources/saves
resources/temp

venv/*

__pycache__/*
*.pyc
